<!DOCTYPE html>
<html>
<head>
<link type="image/png" rel="icon" href="https://media-exp1.licdn.com/dms/image/C4E0BAQE6lQtEKdA5dw/company-logo_200_200/0?e=2159024400&v=beta&t=UeYB5MUD2arx7SRkE4rd9FU-2dMIJAq83Ne8RonjrwE">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/styleHome.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Alumni Network</title>
</head>
<body>
<!-- edit import style sheet for respective pages -->
<div class = "container-fluid">
    <div class = "row text-center">
        <div class = "col">
        <h1>Welcome to Upperline Art, Memes and Rick Rolling!</h1>
        <h3> Here you can find Arts and Memes during our time together!!</h3>
        <h2> Add a memory</h2>
        </div>
        <br>
    </div>
    <br>

    <div class="container-fluid">
        <div class="row mb-2 " >
        <form method="post" class="modal-content animate" action="/art_Meme" >
            <div class = "row justify-content-center"> <br><br>
                <div class ="col-12"><br>
            <label for="art_description"><b>Image Description</b></label>
            <input class="form-control mr-md-2" type="text" placeholder="Enter A Brief Description of the Image" name="art_description">
                </div>
            </div><br>
                <div class = "row justify-content-center">
            <div class ="col-9">
            <label for="art_link"><b>Image Address Link</b></label>
            <!-- <input class="form-control mr-sm-2" type="file" name="art_link"/> -->
            <input class="form-control mr-md-2" type="url" placeholder="Enter Image Link" name="art_link">
            <br></div>
            
                <div class ="col-3"><br><br>
            <button type="submit">Add To  Collection</button>
                </div><br>
            </div>
        </form>
        <h3> Return to <a href ='/art_Meme'> collection page.</a></h3>
        </div>
        <br>

</body>
</html>